.background-div{
    
    background-image: url(/main/images/124016-cool-blue-metallic-background-texture.webp);
    background-size: cover;
    position: relative;
    z-index: 1;
}
.main-div{
height: 16;
background-color: rgb(19, 94, 138);
border-start-end-radius: 20px;
border-start-start-radius: 20px;
border-bottom-left-radius: 20px;
border-bottom-right-radius: 20px;
margin-top: 20px;
margin-bottom: 20px;

z-index: 2;
}
.profile-pic{
  margin-top: 20px;
}
.rounded-circle{

    width: 202px;
    height: 214px; 
}
.about-text{
    margin-top: 20px;

}
.contact-form{
margin-top: 40px;

}
.form-control{
    background-color:rgb(11, 43, 61) ;
    border-width: 4px;
}
